form input[type=submit] {
    border:1px solid #000;
    padding:1em 3em;
    background-color:#FF0000;
    color:#fff;
    font-family: 'Bebas Neue';
    font-weight: bolder;
    font-size:1.5em;
    margin:1em 40%;
    border-radius:15px;
}

.col {
    width:45vw;
}

.col input, .col input[type="date"], .col input[type="password"] {
        color:#DBDBDB;
        border:none;
        text-align:center;
        margin: 2em 35%;
        font-size:25px;
        border-bottom:1px solid #808080
}

.col input{
    color:#DBDBDB;
}

