.headerMain {
    border-bottom: 1px solid #000;
}

.nav {
    background-color:#FFF;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    height: 8vh;
}


.logo {
    -webkit-text-stroke: 1px #000;
    font-family: 'Bebas Neue';
    font-size: 60px;
    background-color:#FFF;    
    color: red;
}

.nav li {
    margin: 1em 3em 0 1em;
}

ul {
    background-color:#FFF;
}

.navItems a {
    background-color:#FFF;    
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: red;
    margin: 50% 0
}

.navItems a :hover {
    border-bottom: 1px solid #DBDBDB;
}

.navItems {
    margin-right:10em;
}

.navItems ul {
    background-color:#FFF;    
    display: flex;
    justify-content: space-around;
    width: 15vw;
}